body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.hnews_front_page img {
  /* max-width: 120px; */
  max-width: 100%;
  height: 140px;
  opacity: 0.6;
}

.hnews_front_page h2 {
  color: blue;
  /* border-bottom: 1px solid #ccc; */
  margin-top: 5px;
  margin-bottom: 20px;
}

.hnews_front_page span {
  margin-right: 1px;
  font-size: 11px;
}

.hnews_front_page .thumbnail img {
  width: auto;
  height: auto;
  opacity: 0.9;
  margin: auto;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

.hnews_front_page .thumbnail img:hover {
  opacity: 1;
}

.hnews_front_page .fa-user,
.hnews_front_page .fa-calendar-check-o,
.hnews_front_page .fa-tag {
  color: #ed563b;
}

.hnews_front_page .author,
.hnews_front_page .published,
.hnews_front_page .tag {
  color: #b9abab;
}

.single-info {
  background-color: #ffffff;
  padding: 30px 30px;
  width: 100%;
  display: inline-flex;
  line-height: 30px;
}

.single-info p {
  margin-right: 20px;
  color: #6a6666;
}
.article__form h1 {
  font-size: 26px;
}
